.hide {
  display: none;
}

section {
  height: 300px;
}
/* ------------------------------------------ */

/* =subi-tu-foto
--------------------------------------------- */
#subi-tu-foto-1 {
  display: none;
}

#subi-tu-foto-2 {
  display: none;
}

#mi-foto {
  display: none;
}

/* ------------------------------------------ */

/* =mira-las-fotos
--------------------------------------------- */
#mira-las-fotos {
  display: none;
}

/* ------------------------------------------ */

/* =mecanica
--------------------------------------------- */
#mecanica {
  display: none;
}

/* ------------------------------------------ */

/* =premios
--------------------------------------------- */
#premios {
  display: none;
}

/* ------------------------------------------ */

/* =bases
--------------------------------------------- */
#bases {
  display: none;
}
